@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: myFont;
  src: url("../Miama.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
.header-section {
  background: linear-gradient(50deg, #030303, #151414);
}
#menu-icon {
  display: none;
}
nav {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.brand-logo {
  color: #ffff;
  font-size: 2.5rem;
  font-weight: 700;
}
span {
  color: #e6533c;
  font-size: 3rem;
}
#menu-section {
  display: flex;
  border: 1px solid #3a3939;
  border-radius: 30px;
}
#menu-section li {
  list-style: none;
  margin: 10px;
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 10px 15px;
}
#home {
  background-color: #e6533c;
  border-radius: 30px;
  color: #ffff;
}
.banner-section {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1060px;
  margin: 0 auto;
}
.banner-details {
  width: 50%;
}
.banner-details h1 {
  font-size: 6rem;
  color: #ffff;
  margin-bottom: 15px;
  font-weight: bolder;
}
.banner-details p {
  font-size: 1.2rem;
  color: #dddddd;
  margin-bottom: 20px;
}
.banner-image {
  width: 50%;
}
.sticker {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background: rgba(228, 226, 226, 0.186);
  backdrop-filter: blur(10px);
  padding: 10px;
  position: absolute;
  top: 600px;
}
.video-tutorial h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 5px;
}
.video-tutorial p {
  font-size: 1rem;
  color: #adabab;
}
.circle {
  background-color: #e6533c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sticker-two {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background: rgba(228, 226, 226, 0.186);
  backdrop-filter: blur(10px);
  padding: 30px;
  position: absolute;
  top: 300px;
  left: 1280px;
}
.sticker-two h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 5px;
}
.banner-image img {
  width: 80%;
  margin-bottom: -15px;
  margin-left: 40px;
}
.Miama-font {
  font-family: myFont;
  font-size: 5rem;
  color: #ffff;
}
button {
  background-color: #e6533c;
  padding: 15px 50px;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #ffffff;
  margin: 10px;
  border: none;
  outline: none;
}
.btn-download {
  background: transparent;
  border: 1px solid #ffffff;
}
main {
  max-width: 1060px;
  margin: 0 auto;
}
.habit-title {
  padding: 5px;
  text-align: center;
  margin-top: 50px;
}
.habit-title h1 {
  margin-bottom: 10px;
  font-size: 3rem;
  color: #ffffff;
}
.habit-title p {
  font-size: 1.2rem;
  color: #c6c4c4;
}
.habit-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.image img {
  border-radius: 50%;
  margin-bottom: 10px;
}
.image h4 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.image p {
  color: #c6c4c4;
  font-size: 1rem;
}
.extra-run {
  margin-top: 50px;
  padding: 50px;
  display: flex;
  background: #222222;
  border-radius: 20px;
}
.extra-detail {
  width: 50%;
}
.extra-detail h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 15px;
}
.extra-detail p {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #a9a7a7;
}
.extra-img {
  width: 50%;
}
.extra-img img {
  width: 100%;
  border-radius: 50px;
}
.join-btn {
  padding: 15px 80px;
}

.bmi-title {
  margin-left: 250px;
  margin-top: 80px;
}
.bmi-title h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #fff;
}
.bmi-title p {
  font-size: 1.1rem;
  color: #747474;
}
.calculator-bg {
  background: #222222;
  padding: 50px;
  width: 100%;
  margin-top: 100px;
}
.bmi-chart-section {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
.bmi-chart {
  width: 50%;
}
.bmi-chart h1 {
  font-size: 2.5rem;
  color: #ffff;
  margin-bottom: 50px;
}
.bmi-calculator {
  width: 50%;
}
table,
th,
td {
  border: 1px solid #747474;
  border-collapse: collapse;
  padding: 15px 20px;
  margin-left: 20px;
}
table,
th {
  font-size: 1.5rem;
  color: #ffffff;
}
table,
td {
  font-size: 1rem;
  color: #868585;
}
.calculator-title h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 15px;
}
.calculator-title p {
  font-size: 1rem;
  color: #8b8a8a;
}
.bmi-form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.bmi-form > input,
select {
  padding: 10px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #747474;
  background: #403f3f;
}
#input-factor {
  grid-column: span 2;
}
.calculate-btn {
  padding: 15px 60px;
  margin-top: 40px;
  margin-left: -1px;
}
.team-section {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 50px;
}
.team-title {
  text-align: center;
}
.team-title h1 {
  font-size: 3rem;
  color: #ffffff;
}
.team-title p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #747474;
}
.team-gallery {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  background: #403f3f;
  padding: 15px;
  border-radius: 20px;
}
.img-file-1 {
  background-image: url("../images/trainer1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 330px;
  height: 300px;
  opacity: 0.7;
  position: relative;
}
.name {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.name,
h4 {
  font-size: 2rem;
  color: #ffffff;
}
.name,
p {
  font-size: 1.3rem;
  color: #adabab;
}
.img-file-2 {
  background-image: url("../images/trainer2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 330px;
  height: 300px;
  opacity: 0.7;
  position: relative;
}
.name-2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.name-2,
h4 {
  font-size: 2rem;
  color: white;
}
.name-2,
p {
  font-size: 1.3rem;
  color: #adabab;
}
.img-file-3 {
  background-image: url("../images/trainer3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 330px;
  height: 300px;
  opacity: 0.7;
  position: relative;
}
.name-3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.name-3,
h4 {
  font-size: 2rem;
  color: white;
}
.name-3,
p {
  font-size: 1.3rem;
  color: #adabab;
}
.img-file-4 {
  background-image: url("../images/trainer4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 330px;
  height: 300px;
  opacity: 0.7;
  position: relative;
}
.name-4 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.name-4,
h4 {
  font-size: 2rem;
  color: white;
}
.name-4,
p {
  font-size: 1.3rem;
  color: #adabab;
}
.img-file-5 {
  background-image: url("../images/trainer5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 330px;
  height: 300px;
  opacity: 0.7;
  position: relative;
}
.name-5 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.name-5,
h4 {
  font-size: 2rem;
  color: white;
}
.name-4,
p {
  font-size: 1.3rem;
  color: #adabab;
}
.img-file-6 {
  background-image: url("../images/trainer6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 330px;
  height: 300px;
  opacity: 0.7;
  position: relative;
}
.name-6 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.name-6,
h4 {
  font-size: 2rem;
  color: white;
}
.name-6,
p {
  font-size: 1.3rem;
  color: #adabab;
}
footer {
  margin-top: 120px;
  background: #222222;
  padding: 50px;
}
.footer-section {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  padding: 10px;
}
.fitness {
  width: 50%;
}
.fitness h1 {
  font-size: 4rem;
  color: #e6533c;
  margin-bottom: 15px;
}
.fitness p {
  font-size: 1rem;
  color: #747474;
}

.get-started h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ffffff;
}
.get-started li {
  font-size: 1.5rem;
  color: #747474;
  list-style: none;
  margin-bottom: 10px;
}

.social-media h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ffffff;
}
.social-media li {
  font-size: 1.5rem;
  color: #747474;
  list-style: none;
  margin-bottom: 10px;
}
hr {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #403f3f;
}
.copyrights {
  margin-top: 50px;
  text-align: center;
}
.workouts {
  margin-top: 50px;
}
.workouts-title h1 {
  margin-bottom: 50px;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  padding: 5px;
}
.card {
  width: 340px;
  height: 370px;
  padding: 5px;
  border: 1px solid #9f9f9f;
  padding: 10px;
  border-radius: 10px;
}
.card img {
  width: 100%;
  border-radius: 5px;
}

.card:hover .name-section {
  display: none;
}
.card:hover .description {
  display: block;
  margin-top: 20px;
}
.step-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.name-section h2 {
  color: white;
  font-size: 1.5rem;
  margin-top: 15px;
}
.step {
  width: 80px;
  height: 80px;
  border: 2px solid #747474;
  border-radius: 50%;
  margin-top: 15px;
}
.step p {
  position: relative;
  top: -35px;
  left: 10px;
}
.step h6 {
  color: #ffffff;
  font-size: 1.5rem;
  position: relative;
  top: 10px;
  left: 25px;
}
.line {
  position: relative;
  top: -35px;
  color: red;
  width: 100%;
}
.short-description h6 {
  color: #adabab;
  font-size: 1.2rem;
}
.description {
  background: #fff;
  display: none;
  padding: 25px;
}
.workouts-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.training-title {
  margin-top: 80px;
}
.training-title h1 {
  font-size: 3rem;
  color: #ffff;
  margin-bottom: 10px;
}
.training-title h1 {
  font-size: 2.7rem;
}
.image-container {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-areas:
    "pic-1 pic-2 pic-2 pic-3"
    "pic-4 pic-4 pic-5 pic-6";
}

.image-1 {
  grid-area: pic-1;
  height: 250px;
  background: linear-gradient(#06ffd165, #06ffd179),
    url("../images/exercise1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-2 {
  grid-area: pic-2;
  height: 250px;
  background: linear-gradient(
      rgba(255, 71, 71, 0.589),
      rgba(255, 71, 71, 0.533)
    ),
    url("../images/exercise2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-3 {
  grid-area: pic-3;
  height: 250px;
  background: linear-gradient(#00000076, #27262670),
    url("../images/exercise3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-4 {
  grid-area: pic-4;
  height: 250px;
  background: linear-gradient(#00000084, #27262684),
    url("../images/exercise4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-5 {
  grid-area: pic-5;
  height: 250px;
  background: linear-gradient(
      rgba(76, 242, 76, 0.477),
      rgba(87, 234, 87, 0.527)
    ),
    url("../images/exercise5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-6 {
  grid-area: pic-6;
  height: 250px;
  background: linear-gradient(rgba(0, 0, 255, 0.463), rgba(0, 0, 255, 0.489)),
    url("../images/exercise6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image-1 p {
  position: relative;
  top: 80%;
  left: 10%;
  color: black;
  font-weight: bold;
}
.image-2 p {
  position: relative;
  top: 10%;
  left: 10%;
  color: #fff;
  font-weight: bold;
}
.image-3 p {
  position: relative;
  top: 80%;
  left: 10%;
  color: #fff;
  font-weight: bold;
}
.image-4 p {
  position: relative;
  right: -70%;
  top: 10%;
  color: #fff;
  font-weight: bold;
}
.image-5 p {
  position: relative;
  top: 80%;
  left: 10%;
  color: #fff;
  font-weight: bold;
}
.image-6 p {
  position: relative;
  top: 80%;
  left: 10%;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  #menu-section {
    display: none;
  }
  #menu-icon {
    display: block;
    font-size: 30px;
    color: #ffffff;
  }
  nav {
    width: 100%;
    padding: 15px;
  }
  .brand-logo {
    font-size: 2rem;
  }
  span {
    font-size: 2rem;
  }
  .banner-section {
    flex-direction: column;
    margin-top: 20px;
  }
  .banner-details {
    width: 100%;
    margin-bottom: 50px;
  }
  .banner-details h1 {
    font-size: 3.5rem;
  }
  .banner-image {
    width: 100%;
  }
  .banner-image img {
    width: 90%;
    margin-bottom: 1px;
    margin-left: 5px;
  }

  button {
    padding: 15px 32px;
    margin: 3px;
  }
  .sticker-two {
    left: 200px;
    top: 650px;
    width: 150px;
    height: 70px;
    padding: 10px;
  }
  .sticker-two h1 {
    font-size: 1.5rem;
  }
  .sticker-two p {
    font-size: 1rem;
  }
  .sticker {
    left: 70px;
    top: 800px;
    width: 150px;
    height: 70px;
    padding: 10px;
  }
  .sticker h1 {
    font-size: 1.5rem;
  }
  .sticker p {
    font-size: 1rem;
  }
  .habit-title h1 {
    font-size: 2rem;
  }
  .habit-title p {
    font-size: 1rem;
  }
  .habit-images {
    flex-direction: column;
  }
  .image {
    margin-bottom: 30px;
  }
  .extra-run {
    flex-direction: column;
    padding: 20px;
  }
  .extra-detail {
    width: 100%;
  }
  .extra-img {
    width: 100%;
    margin-top: 50px;
  }
  .join-btn {
    width: 100%;
  }
  .bmi-chart-section {
    flex-direction: column;
  }
  .calculator-bg {
    padding: 10px;
  }
  .bmi-chart {
    margin-top: 30px;
    width: 100%;
  }
  .bmi-counter {
    width: 100%;
  }
  .bmi-title {
    margin-left: 10px;
  }
  .bmi-calculator {
    margin-top: 50px;
    width: 100%;
  }
  .bmi-chart h1 {
    font-size: 1.2rem;
  }
  .calculator-title h1 {
    font-size: 1.2rem;
  }
  .bmi-title h1 {
    font-size: 2rem;
  }
  .bmi-form > input,
  select {
    width: 100%;
  }
  .workouts-gallery {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
  .workouts-title h1 {
    font-size: 2rem;
  }
  .workouts-title {
    padding: 10px;
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .team-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-title p {
    font-size: 1rem;
  }
  .img-file-1,
  .img-file-2,
  .img-file-3,
  .img-file-4,
  .img-file-5,
  .img-file-6 {
    width: 100%;
  }
  footer {
    padding: 10px;
  }
  .fitness {
    width: 90%;
  }
  .footer-section {
    flex-direction: column;
    gap: 30px;
  }
  .image-container {
    display: none;
  }
  .training-title {
    display: none;
  }
}
