@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: myFont;
  src: url("../Miama.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
.header-section {
  background: linear-gradient(50deg, #030303, #151414);
}
#menu-icon {
  display: none;
}
nav {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.brand-logo {
  color: #ffff;
  font-size: 2.5rem;
  font-weight: 700;
}
span {
  color: #e6533c;
  font-size: 3rem;
}
#menu-section {
  display: flex;
}
#menu-section li {
  list-style: none;
  margin: 10px;
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 10px 15px;
}
#home {
  background-color: #e6533c;
  border-radius: 30px;
  color: #ffff;
}
.banner-section {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1060px;
  margin: 0 auto;
}
.banner-details {
  width: 50%;
}
.banner-details h1 {
  font-size: 6rem;
  color: #ffff;
  margin-bottom: 15px;
  font-weight: bolder;
}
.banner-details p {
  font-size: 1.2rem;
  color: #dddddd;
  margin-bottom: 20px;
}
.banner-image {
  width: 50%;
}
.sticker {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background: rgba(228, 226, 226, 0.186);
  backdrop-filter: blur(10px);
  padding: 10px;
  position: absolute;
  top: 600px;
}
.video-tutorial h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 5px;
}
.video-tutorial p {
  font-size: 1rem;
  color: #adabab;
}
.circle {
  background-color: #e6533c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sticker-two {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background: rgba(228, 226, 226, 0.186);
  backdrop-filter: blur(10px);
  padding: 30px;
  position: absolute;
  top: 300px;
  left: 1280px;
}
.sticker-two h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 5px;
}
.banner-image img {
  width: 80%;
  margin-bottom: -15px;
  margin-left: 40px;
}
.Miama-font {
  font-family: myFont;
  font-size: 5rem;
  color: #ffff;
}
button {
  background-color: #e6533c;
  padding: 15px 50px;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #ffffff;
  margin: 10px;
  border: none;
  outline: none;
}
.btn-download {
  background: transparent;
  border: 1px solid #ffffff;
}
main {
  max-width: 1060px;
  margin: 0 auto;
}
.habit-title {
  padding: 5px;
  text-align: center;
  margin-top: 50px;
}
.habit-title h1 {
  margin-bottom: 10px;
  font-size: 3rem;
  color: #ffffff;
}
.habit-title p {
  font-size: 1.2rem;
  color: #c6c4c4;
}
.habit-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.image img {
  border-radius: 50%;
  margin-bottom: 10px;
}
.image h4 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.image p {
  color: #c6c4c4;
  font-size: 1rem;
}
.extra-run {
  margin-top: 50px;
  padding: 50px;
  display: flex;
  background: #222222;
  border-radius: 20px;
}
.extra-detail {
  width: 50%;
}
.extra-detail h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 15px;
}
.extra-detail p {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #a9a7a7;
}
.extra-img {
  width: 50%;
}
.extra-img img {
  width: 100%;
  border-radius: 50px;
}
.join-btn {
  padding: 15px 80px;
}

.bmi-title {
  margin-left: 250px;
  margin-top: 80px;
}
.bmi-title h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #fff;
}
.bmi-title p {
  font-size: 1.1rem;
  color: #747474;
}
.calculator-bg {
  background: #222222;
  padding: 50px;
  width: 100%;
  margin-top: 100px;
}
.bmi-chart-section {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
.bmi-chart {
  width: 50%;
}
.bmi-chart h1 {
  font-size: 2.5rem;
  color: #ffff;
  margin-bottom: 50px;
}
.bmi-calculator {
  width: 50%;
}
table,
th,
td {
  border: 1px solid #747474;
  border-collapse: collapse;
  padding: 15px 20px;
  margin-left: 20px;
}
table,
th {
  font-size: 1.5rem;
  color: #ffffff;
}
table,
td {
  font-size: 1rem;
  color: #868585;
}
.calculator-title h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 15px;
}
.calculator-title p {
  font-size: 1rem;
  color: #8b8a8a;
}
.bmi-form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.bmi-form > input,
select {
  padding: 10px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #747474;
  background: #403f3f;
}
#input-factor {
  grid-column: span 2;
}
.calculate-btn {
  padding: 15px 60px;
  margin-top: 40px;
  margin-left: -1px;
}

@media screen and (max-width: 576px) {
  #menu-section {
    display: none;
  }
  #menu-icon {
    display: block;
    font-size: 30px;
    color: #ffffff;
  }
  nav {
    width: 100%;
    padding: 15px;
  }
  .brand-logo {
    font-size: 2rem;
  }
  span {
    font-size: 2rem;
  }
  .banner-section {
    flex-direction: column;
    margin-top: 20px;
  }
  .banner-details {
    width: 100%;
  }
  .banner-details h1 {
    font-size: 3.5rem;
  }
  .banner-image {
    width: 100%;
  }
  .banner-image img {
    width: 90%;
    margin-bottom: 1px;
    margin-left: 5px;
  }

  button {
    padding: 15px 32px;
    margin: 3px;
  }
  .sticker-two {
    left: 200px;
    top: 550px;
    width: 150px;
    height: 70px;
    padding: 10px;
  }
  .sticker-two h1 {
    font-size: 1.5rem;
  }
  .sticker-two p {
    font-size: 1rem;
  }
  .sticker {
    left: 70px;
    top: 800px;
    width: 150px;
    height: 70px;
    padding: 10px;
  }
  .sticker h1 {
    font-size: 1.5rem;
  }
  .sticker p {
    font-size: 1rem;
  }
  .habit-title h1 {
    font-size: 2rem;
  }
  .habit-images {
    flex-direction: column;
  }
  .image {
    margin-bottom: 30px;
  }
  .extra-run {
    flex-direction: column;
    padding: 20px;
  }
  .extra-detail {
    width: 100%;
  }
  .extra-img {
    width: 100%;
    margin-top: 50px;
  }
  .join-btn {
    width: 100%;
  }
  .bmi-chart-section {
    flex-direction: column;
  }
  .calculator-bg {
    padding: 10px;
  }
  .bmi-chart {
    margin-top: 30px;
    width: 100%;
  }
  .bmi-counter {
    width: 100%;
  }
  .bmi-title {
    margin-left: 10px;
  }
  .bmi-calculator {
    margin-top: 50px;
    width: 100%;
  }
  .bmi-form > input,
  select {
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  #menu-section li {
    margin: 5px;
    font-size: 1.1rem;
    padding: 10px;
  }
}
